.actionPanelContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3px;
}

.left {
    margin-left: -8px;
}

.button {
    background-color: #000;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.bookmark {
    margin-right: -12px;
}

.likeCount {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    font-weight: 800;
    color: rgb(250, 250, 250);
}