.commentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    width: 100%;
}

.mainDiv {
    display: flex;
    flex-direction: column;
}

.selfComment {
    display: flex;
    flex-direction: row;
    color: rgb(250, 250, 250);
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
}

.comment {
    padding-left: 4px;
}

.commentInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: -6px;
    margin-left: 45px;
}

.button {
    color: rgb(168, 168, 168);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    cursor: pointer;
    padding: 0px;
    background-color: black;
    border: none;
    margin-right: 12px;
}