.storyListContainer {
    display: flex;
    flex-direction: row;
    width: 470px;
    height: 85px;
    margin-top: 16px;
    padding: 16px 0px;
    overflow: scroll;
}





.largeAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border-radius: 100%;
}

.checkedBorder {
    border: 1px solid #363636;
}

.uncheckedBorder {
    border: 1px solid transparent;
    background-image: linear-gradient(#000, #000), 
    linear-gradient(to right, #ffa301 0%,  #df00ad 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-sizing: content-box;
}

.checkedBorder {
    margin: -2px;
}

.uncheckedBorder {
    margin: -4px;
}
